<!DOCTYPE html>
<html>
    <head>
        <title>Artist Details</title>
        <link rel="stylesheet" href="/templates/assests/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap"
            rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <div class="image-name">
                <img src="{{.Art.Image}}" class="artimage">
                <h2 class="artist-name">{{.Art.Name}}</h2>
            </div>
            <div class="context">
                <div>
                    <h3 class="Members">Members:</h3>
                    {{range .Art.Members}}
                    <p class="member">{{.}}</p>
                    {{end}}
                </div>
                <div>
                    <h3 class="CreationDate">Creation Date:</h3>
                    <p class="creation-date">{{.Art.CreationDate}}</p>
                </div>
                <div>
                    <h3 class="FirstAlbum">First Album:</h3>
                    <p class="first-album">{{.Art.FirstAlbum}}</p>
                </div>
                <div>
                    <h3 class="locations">Locations:</h3>
                    {{range .Location.Location}}
                    <p class="location">{{.}}</p>
                    {{end}}
                </div>
                <div>
                    <h3 class="Dates">Dates:</h3>
                    {{range .Date.Dates}}
                    <p class="date">{{.}}</p>
                    {{end}}
                </div>
                <div>
                    <h3 class="DateLocation">Dates Locations:</h3>
                    {{range $locations, $date := .DateLocation.DatesLocations}}
                    <h4 class="date-location-title">{{$locations}}</h4>
                    {{range $date}}
                    <p class="date-location-item">{{.}}</p>
                    {{end}}
                    {{end}}
                </div>
            </div>
        </div>
        <a href="/"><button class="btn">Go back</button></a>
    </body>
</html>
