<!DOCTYPE html>
<html>

<head>
    <title>Artists</title>
    <link rel="stylesheet" href="/templates/assests/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <form action="/search" class="form-filter">

        <div class="search-bar">
            <input list="Artists" id="search" name="search" placeholder=" search..." />
            <datalist id="Artists">
                {{range .Artists}}
                <option value="{{.Name}}">{{.Name}} -Artist/Band</option>
                <option value="{{.CreationDate}}">{{.CreationDate}}
                    -Creation date</option>
                <option value="{{.FirstAlbum}}">{{.FirstAlbum}} -First
                    album</option>
                {{range .Members}}
                <option value="{{.}}">{{.}} -Member
                </option>
                {{end}}
                {{end}}
                {{range .Loc}}
                {{range .Location}}
                <option value="{{.}}">{{.}} -Location</option>
                {{end}}
                {{end}}
            </datalist>
            <button type="submit" class="search-btn">search</button>
        </div>
        <details class="form-filter">
            <summary>Show Filters</summary>
            <div class="filter">
                <table>
                    <div class="creation-date">
                        <tr>
                            <td>
                                <label for="year">Creation Date Year :&emsp;</label>

                            </td>
                            <td>
                                <input type="number" id="year" name="year" min="1957" max="2024" step="1"
                                    placeholder="1957">
                                <input type="number" id="year" name="year" min="1957" max="2024" step="1"
                                    placeholder="2024">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="first-album">First Album Year :&emsp;</label>
                            </td>
                            <td>
                                <input type="number" id="first-album" name="first-album" min="1967" max="2018" step="1"
                                    placeholder="1967">
                                <input type="number" id="first-album" name="first-album" min="1967" max="2018" step="1"
                                    placeholder="2018">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="member">Number of Members :&emsp;</label>
                            </td>
                            <td>

                                <input type="checkbox" id="member1" class="members" name="members" value="1" checked>
                                <label class="members" for="member1">1</label>

                                <input type="checkbox" id="member2" class="members" name="members" value="2" checked>
                                <label class="members" for="member2">2</label>

                                <input type="checkbox" id="member3" class="members" name="members" value="3" checked>
                                <label class="members" for="member3">3</label>

                                <input type="checkbox" id="member4" class="members" name="members" value="4" checked>
                                <label class="members" for="member4">4</label>

                                <input type="checkbox" id="member5" class="members" name="members" value="5" checked>
                                <label class="members" for="member5">5</label>

                                <input type="checkbox" id="member6" class="members" name="members" value="6" checked>
                                <label class="members" for="member6">6</label>

                                <input type="checkbox" id="member7" class="members" name="members" value="7" checked>
                                <label class="members" for="member7">7</label>

                                <input type="checkbox" id="member8" class="members" name="members" value="8" checked>
                                <label class="members" for="member8">8</label>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="dropdown-content">Choose a Location:&emsp;</label>
                            </td>
                            <td>
                                <div class="select">
                                    <input type="checkbox" id="dropdown-toggle" />
                                    <label for="dropdown-toggle">Country</label>

                                    <div class="dropdown-content">
                                        {{range $key, $values := .Locations}}
                                        <div class="dropdown-item">
                                            <input type="checkbox" class="country-checkbox" id="{{$key}}"
                                                value="{{$key}}">
                                            <label for="{{$key}}">{{$key}}</label>
                                            <div class="location-group">
                                                <input type="checkbox" id="location" />
                                                <label for="location">{{$key}} locations</label>
                                                <div class="location-group">
                                                    {{range $values}}
                                                    <div class="dropdown-item">
                                                        <input type="checkbox" name="location"
                                                            id="location-{{$key}}-{{.}}" value="{{.}}">
                                                        <label for="location-{{$key}}-{{.}}">{{.}}</label>
                                                    </div>
                                                    {{end}}
                                                </div>
                                            </div>
                                        </div>
                                        {{end}}
                                    </div>
                                </div>
                    </div>
                    </td>
                    </tr>
                </table>
                <button type="submit">Filter</button>
            </div>
        </details>

    </form>

    <div class="container">
        {{range .Artists}}
        <a href="/artist?Id={{.Id}}" class="card">
            <img src="{{.Image}}" alt="{{.Name}}">
            <h3 class="card-name">{{.Name}}</h3>
            <p>Creation Date: {{.CreationDate}}</p>
            <p>First Album: {{.FirstAlbum}}</p>
        </a>
        {{end}}
    </div>
</body>

</html>