<!DOCTYPE html>
<html>

<head>
    <title>Artists</title>
    <link rel="stylesheet" href="/templates/assests/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
</head>

<body>

    <form action="/result" method="POST" class="form-filter">

        <summary>Show Filters</summary>
        <div class="filter">
            <div class="creation-date">
                <label for="year">Creation Date Year:</label>
                <input type="number" id="year" name="year" min="1957" max="2024" step="1" placeholder="1957">
                <input type="number" id="year-max" name="year" min="1957" max="2024" step="1" placeholder="2024">
            </div>
            <div class="first-album">
                <label for="first-album">First Album:</label>
                <input type="date" id="first-album" name="first-album">
                <input type="date" id="first-album" name="first-album">
            </div>
            <div class="members">
                <label for="nb-meber">Select members:</label>
                <input type="number" id="nb-meber" name="nb-meber" min="1" max="8" step="1" placeholder="min">
                <input type="number" id="nb-meber" name="nb-meber" min="1" max="8" step="1" placeholder="max">
            </div>
            <div class="select">
                <details>
                    <summary>Country</summary>
                    <div class="dropdown-content">
                        <input type="checkbox" id="usa">
                        <label for="usa">usa</label>
                        <input type="checkbox" id="japan">
                        <label for="japan">japan</label>
                        <input type="checkbox" id="new_zealand">
                        <label for="new_zealand">new_zealand</label>
                        <input type="checkbox" id="mexico">
                        <label for="mexico">mexico</label>
                        <input type="checkbox" id="french_polynesia">
                        <label for="french_polynesia">french_polynesia</label>
                        <input type="checkbox" id="new_caledonia">
                        <label for="new_caledonia">new_caledonia</label>
                        <input type="checkbox" id="uk">
                        <label for="uk">uk</label>
                        <input type="checkbox" id="switzerland">
                        <label for="switzerland">switzerland</label>
                        <input type="checkbox" id="france">
                        <label for="france">france</label>
                        <input type="checkbox" id="slovakia">
                        <label for="slovakia">slovakia</label>
                        <input type="checkbox" id="hungary">
                        <label for="hungary">hungary</label>
                        <input type="checkbox" id="belarus">
                        <label for="belarus">belarus</label>
                        <input type="checkbox" id="brazil">
                        <label for="brazil">brazil</label>
                        <input type="checkbox" id="argentina">
                        <label for="argentina">argentina</label>
                        <input type="checkbox" id="colombia">
                        <label for="colombia">colombia</label>
                        <input type="checkbox" id="chile">
                        <label for="chile">chile</label>
                        <input type="checkbox" id="peru">
                        <label for="peru">peru</label>
                        <input type="checkbox" id="denmark">
                        <label for="denmark">denmark</label>
                        <input type="checkbox" id="belgium">
                        <label for="belgium">belgium</label>
                        <input type="checkbox" id="spain">
                        <label for="spain">spain</label>
                        <input type="checkbox" id="germany">
                        <label for="germany">germany</label>
                        <input type="checkbox" id="netherlands">
                        <label for="netherlands">netherlands</label>
                        <input type="checkbox" id="italy">
                        <label for="italy">italy</label>
                        <input type="checkbox" id="poland">
                        <label for="poland">poland</label>
                        <input type="checkbox" id="austria">
                        <label for="austria">austria</label>
                        <input type="checkbox" id="czechia">
                        <label for="czechia">czechia</label>
                        <input type="checkbox" id="china">
                        <label for="china">china</label>
                        <input type="checkbox" id="thailand">
                        <label for="thailand">thailand</label>
                        <input type="checkbox" id="taiwan">
                        <label for="taiwan">taiwan</label>
                        <input type="checkbox" id="south_korea">
                        <label for="south_korea">south_korea</label>
                        <input type="checkbox" id="united_arab_emirates">
                        <label for="united_arab_emirates">united_arab_emirates</label>
                        <input type="checkbox" id="canada">
                        <label for="canada">canada</label>
                        <input type="checkbox" id="philippines">
                        <label for="philippines">philippines</label>
                    </div>
                </details>
            </div>
            <button type="submit">Filter</button>
        </div>

    </form>

    <div class="container">
        {{range .}}
        <div class="card">
            <img src="{{.Image}}" alt="{{.Name}}">
            <h3 class="card-name">{{.Name}}</h3>
            <p>Creation Date: {{.CreationDate}}</p>
            <p>First Album: {{.FirstAlbum}}</p>
            <form action="/artist" method="get">
                <button value="{{.Id}}" name="Id">Read more</button>
            </form>
        </div>
        {{end}}
    </div>
    <style></style>
</body>

</html>