* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/background.jpg);
    font-family: "Radio Canada Big", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

input[type="checkbox"] {
    display: none;
}

.form-filter {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px 0 10px 0;
    width: 100%;
    box-sizing: border-box;
}

.select label[for="dropdown-toggle"] {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.members+label {
    max-width: 3px;
    padding-inline: 9px;
    /* background-color: #ff2402ce; */
}

.members[type="checkbox"]:checked+label {
    background-color: #16cd4ace;
}



.dropdown-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50%;
    display: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 2px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    position: absolute;
    width: inherit;
    z-index: 1;
}

.dropdown-content label,
label +details summary {
    list-style:georgian;
    display: block;
    padding: 1px;
    cursor: pointer;
}

.dropdown-content label:hover ,
label +details summary:hover {
    background-color: #e0e0e0;
} 


/* .dropdown-content input[type="checkbox"]:checked+label+.location-group{
    display: block;
}*/

.dropdown-content input[type="checkbox"]:checked+label{
    background-color: #d0d0d0;
}

#dropdown-toggle+label::after , details[open] summary::after {
    content: '▼';
    margin-left: 20px;
}

#dropdown-toggle:checked+label::after,details summary::after {
    content: '▲';
    margin-left: 20px;
} 

details summary{
   list-style: none;
   padding-right: 80px  ;  
}
#items {
    border: #000 1px solid;
    border-radius: 3px;
}

details {
    width: 200px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 700px;
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* .dropdown-content input[type="checkbox"]+label+.dropdown-content{
    display: none;
    position: relative;
    background-color: white;
    min-width: 160px;
    max-width: 200px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    height: 100%;
    height: fit-content;
    margin-bottom: 10px;
} */

/* .dropdown-content {
    display: none;
    position: relative;
    background-color: white;
    min-width: 160px;
    max-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 70%;
    overflow-y: scroll;
    height: max-content;
    width: 300px;
    padding-bottom: 10px;
}*/
.dropdown-item{
    position: relative;
    right: 0px;
    z-index: 1;
}

.dropdown-content,
.dropdown-item label {
    padding: 8px 16px;
    margin: 5px;

}

.dropdown-item input[type="checkbox"] +label+details {
display: none;
}
.dropdown-item input[type="checkbox"]:checked +label+details {
    display: block;
}
.dropdown-toggle:checked+label+.dropdown-content {
    display: block;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 4%;
    row-gap: 1%;
    padding: 20px;
    justify-content: center;
    /* align-content: center; */
}

.card {
    background: white;
    border: 1px solid #c7c5c5;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0px 0px 1px 0px #000;
}

.card h3, .card p {
    margin: 10px;
}

.card h3 {
    font-size: 1.2em;
    color: #333;
}

.card p {
    color: #555;
}


button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.content {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 40px;
    background-color: lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.context {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    font-size: 16px;
    padding: 40px;
    gap: 80px;
}

.artimage {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    margin-top: 18px;
    margin-bottom: 10px;
    width: 212px;
    border-radius: 0%;
    width: 350px;
    height: 350px;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
